@import "~patternfly/dist/sass/patternfly/variables";

// breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// other colors
$color-widget-title-bg-color: #e0e0db;
$color-rating-filter-text-hover: #c45500;
$color-rating-selected: #dff3fe;
$color-rating-filter-star-empty: #979797;
$color-rating-filter-star-filled: #f1c857;
$color-icon-gray: #939597;
$color-dark-grey: #4d5258;
$color-light-blue: #39a5dc;
$color-black: #000000;
$color-white: #ffffff;
$color-sidebar-filter-bg-grey: #e7e7e7;
$color-sidebar-filter-border-grey: #dedede;
$color-de-component-date: #00b9f7;
$colod-de-component-text-grey: #828282;
$color-de-component-tab-bar-bg-grey: #d8d8d8;
$color-de-component-dark-grey: #4f4f4f;
$color-de-component-installed-button: #3f9c35;
$color-de-component-installed-button-border: #e0e0e0;
$color-de-component-inprogress-button: #f1c857;
$color-de-component-failed-button: #c45500;
$color-de-list-icon-active: #363636;
$color-de-list-icon: #bbbbbb;
$color-de-component-border: #c3c3c3;

//FontAwesome icons
$fa-check: "\f00c";
$fa-exclamation: "\f12a";
$fa-spinner: "\f110";
$fa-ban: "\f05e";
$fa-sitemap: "\f0e8";
$fa-angle-right: "\f105";
$fa-angle-double-left: "\f100";
$fa-angle-double-right: "\f101";
$fa-times: "\f00d";
$fa-check-square: "\f14a";
$fa-check-square-o: "\f046";
$fa-square: "\f0c8";
$fa-square-o: "\f096";

// Bootstrap custom styles
// sass-lint:disable class-name-format
.btn-entando-apply,
.btn-entando-apply:hover,
.btn-entando-apply:focus {
  border-color: $color-pf-blue;
  background: $color-pf-black-200;
  color: $color-pf-blue;
  font-weight: normal;
}

.btn-entando-apply:hover,
.btn-entando-apply:focus {
  background: $color-pf-black-100;
}

.btn-transparent {
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: none;

  &:hover,
  &:active {
    color: $color-pf-blue-300;
  }

  &:hover,
  &:active,
  &:disabled {
    background: transparent !important; // sass-lint:disable-line no-important
  }
}

.CodeMirror {
  border: 1px solid $color-pf-black-400;
}

.has-error {
  .CodeMirror,
  &.CodeMirror {
    border: 1px solid $color-pf-red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $color-pf-red-100;
  }
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-padding {
  padding: 0;
}

// Use this on wrapper elements to make children's heights equal.
.equal {
  display: flex;
  flex-wrap: wrap;
}

// use this when removing body scrolls if you want to focus certain scroll event on an element
.no-scroll {
  overflow: hidden;
}

.scroll-overlay {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.switch-label {
  margin-left: 12px;
}

.table-sortableHelper {
  display: table-row;
  box-shadow: 0 0 8px rgba(0, 0, 0, .075);
  background: white;
  opacity: .8;
}

.table-sortableHelper > td {
  display: table-cell;
  padding: 1px 10px 3px;
  line-height: 1.66666667;
  vertical-align: top;
}
// sass-lint:enable class-name-format
