
@import "~patternfly/dist/sass/patternfly/variables";

// breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// other colors
$color-widget-title-bg-color: #e0e0db;
$color-icon-gray: #939597;
$color-dark-grey: #4D5258;
$color-light-blue: #39A5DC;
$color-black: #000000;
$color-sidebar-filter-bg-grey: #E7E7E7;
$color-sidebar-filter-border-grey: #DEDEDE;

//FontAwesome icons
$fa-check: "\f00c";
$fa-exclamation: "\f12a";
$fa-spinner: "\f110";
$fa-ban: "\f05e";
$fa-sitemap: "\f0e8";
$fa-angle-right: "\f105";
$fa-angle-double-left: "\f100";
$fa-angle-double-right: "\f101";
$fa-times: "\f00d";
$fa-check-square: "\f14a";
$fa-check-square-o: "\f046";
$fa-square: "\f0c8";
$fa-square-o: "\f096";

// Bootstrap custom styles
// sass-lint:disable class-name-format
.btn-entando-apply,
.btn-entando-apply:hover,
.btn-entando-apply:focus {
  border-color: $color-pf-blue;
  background: $color-pf-black-200;
  color: $color-pf-blue;
  font-weight: normal;
}

.btn-entando-apply:hover,
.btn-entando-apply:focus {
  background: $color-pf-black-100;
}

.CodeMirror {
  border: 1px solid $color-pf-black-400;
}

.has-error {
  .CodeMirror,
  &.CodeMirror {
    border: 1px solid $color-pf-red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $color-pf-red-100;
  }
}
// sass-lint:enable class-name-format
