
@import "~patternfly/dist/sass/patternfly/variables";

// breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// other colors
$color-widget-title-bg-color: #e0e0db;

//FontAwesome icons
$fa-check: "\f00c";
$fa-exclamation: "\f12a";
$fa-spinner: "\f110";
$fa-ban: "\f05e";
$fa-sitemap: "\f0e8";
$fa-angle-right: "\f105";
$fa-angle-double-left: "\f100";
$fa-angle-double-right: "\f101";
$fa-times: "\f00d";

// Bootstrap custom styles
// sass-lint:disable class-name-format
.btn-entando-apply,
.btn-entando-apply:hover,
.btn-entando-apply:focus {
  border-color: $color-pf-blue;
  background: $color-pf-black-200;
  color: $color-pf-blue;
  font-weight: normal;
}

.btn-entando-apply:hover,
.btn-entando-apply:focus {
  background: $color-pf-black-100;
}
// sass-lint:enable class-name-format
