$color-black-semi: rgba(0,0,0,.075);
$color-offwhite: #f8f8f8;
$color-thin-light-grey: #4D5258;
$color-join-mark-hovered: #00659c;
$color-category-tag: #23a8e0;
$color-ultra-grey-border: #EDEDED;
$color-mid-grey: #979797;
$color-vertical-grey: #D1D1D1;
$color-space-grey: #676A6C;
$color-thin-grey-border: #D8D8D8;
$color-published: #6CA100;
$color-review: #F0AB00;
$color-unpublish: #A6A6A6;
$color-inactive-dark: #363636;
$color-border-blue: #40A6DA;
$color-dim-grey: #72767B;
