$color-black-semi: rgba(0, 0, 0, 0.075);
$color-offwhite: #f8f8f8;
$color-thin-light-grey: #4d5258;
$color-join-mark-hovered: #00659c;
$color-category-tag: #23a8e0;
$color-ultra-grey-border: #ededed;
$color-mid-grey: #979797;
$color-vertical-grey: #d1d1d1;
$color-space-grey: #676a6c;
$color-thin-grey-border: #d8d8d8;
$color-published: #6ca100;
$color-review: #f0ab00;
$color-unpublish: #a6a6a6;
$color-inactive-dark: #363636;
$color-border-blue: #40a6da;
$color-dim-grey: #72767b;
$color-primary-text:#141C24;

$color-background-primary: #ffffff;
$color-brand-primary: #1a75ff;
$color-brand-secondary: #0041cc;
$color-brand-background-primary: #F0F6FF;
$color-neutral-grey: #e4e7ec;
$color-text-secondary: #344051;
$color-text-tertiary: #637083;
$color-error-primary: #F64C4C;
$color-danger-primary: #F64C4C;
$color-dark-blue: #e5eeff;
$color-border-blue: #40a6da;
$color-dim-grey: #72767b;
$color-border-grey: #e4e7ec;
$color-content-3: #344051;
$color-content-05: #637083;
$color-content-07: #ced2da;
$color-content-08: #E4E7EC;
$color-content-09: #F2F4F7;

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;

$radius-xxs: 4px;
$radius-s: 8px;

$sidebar-collapsed-width: 44px;

:export {
    colorContent05: $color-content-05;
    colorBrandBackgroundPrimary: $color-brand-background-primary;
    colorDangerPrimary: $color-danger-primary;
}