.ContTypeAttributeCheckIcon {
  font-family: FontAwesome;
}

.ContTypeAttributeCheckIcon--checked:before {
  content: $fa-check-square-o;
}

.ContTypeAttributeCheckIcon--unchecked:before {
  content: $fa-square-o;
}
