.ContentTypeForm {
  &__required-fields {
    color: $color-pf-black-300;
    font-size: 12px;
  }

  &__add {
    margin-top: -15px;
  }
}

.AddContentTypeFormBody {
  &__save {
    &--btn { // sass-lint:disable-line nesting-depth
      margin-left: 5px;
    }
  }
}
