@import "../patternfly.scss";


.WidgetForm__language-label {
  margin-right: 5px;
  background-color: $color-pf-blue-400;
}

.WidgetForm__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super;
}

.WidgetForm__required-fields {
  color: $color-pf-black-300;
  font-size: 12px;
}
