@import "../patternfly.scss";


.DetailFragmentPage {
  margin-top: 15px;

}

.DetailFragmentPage__table {
  margin-bottom: 0 ;
}

.DetailFragmentPage__div-search {
  border-top: 0
}

.DetailFragmentPage__th-actions {
  text-align: center;
}
