.WidgetListPage .WidgetListPage__header {
  padding: 0 15px 0 15px;
  border: 1px solid #d1d1d1; }

.WidgetListPage .WidgetListPage__icon {
  color: #0088ce; }

.WidgetListPage .WidgetListPage__add {
  margin: 2em 2em 0 0; }

.WidgetListTable__type {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ededed; }
