.InternalPage {
  margin-bottom: 20px; }
  .InternalPage .breadcrumb {
    margin-bottom: 0;
    border-bottom: 1px solid #d1d1d1; }
  .InternalPage__page-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: bold; }

.PageTitle .PageTitle__header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed; }

.PageTitle .PageTitle__title {
  font-weight: bold; }

.PageTitle .PageTitle__icon {
  color: #8b8d8f; }

.FormLabel__language-label {
  margin-right: 5px;
  background-color: #0088ce; }

.FormLabel__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super; }

.FormSectionTitle__required-fields {
  color: #d1d1d1;
  font-size: 12px; }

.WidgetForm__language-label {
  margin-right: 5px;
  background-color: #0088ce; }

.WidgetForm__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super; }

.WidgetForm__required-fields {
  color: #d1d1d1;
  font-size: 12px; }

.ListWidgetPage .ListWidgetPage__add {
  margin: 2em 2em 0 0; }

.WidgetListTable__type {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ededed; }

.WidgetListActionToggle {
  color: #72767b; }

.WidgetListRow .WidgetListRow__td {
  height: 30px;
  line-height: 30px; }

.PageStatusIcon--draft {
  color: #72767b; }

.PageStatusIcon--published {
  color: #6ca100; }

.PageStatusIcon--unpublished {
  color: #a30000; }

.PageTree__drag-handle {
  width: 25px;
  height: 25px;
  border: 0;
  visibility: hidden; }

.PageTree__row:not(:first-child):hover .PageTree__drag-handle {
  visibility: visible; }

.PageTree__page-name,
.PageTree .PageExpandedIcon,
.PageTree .PageFolderIcon,
.PageTree .RowSpinner {
  margin-left: 10px; }

.PageTree .PageFolderIcon {
  color: #00b9e4; }

.PageTree__icons-label {
  outline: 0;
  cursor: pointer; }

.PageTree__tree-column-td--empty .PageExpandedIcon {
  opacity: 0;
  visibility: hidden; }

.PageTree .PageTreeActionMenuButton,
.PageTree .PageTreeActionMenuButton:focus {
  height: 18px;
  margin: 0;
  padding: 0 10px;
  outline: 0; }

.table-bordered > tbody > tr > td.PageTree__tree-column-td {
  padding: 0; }

.RowSpinner {
  display: inline-block;
  position: relative; }
  .RowSpinner__spinner {
    display: inline-block;
    position: absolute;
    top: -14px;
    left: 0; }

.PageTreePreview {
  width: 100%;
  background: rgba(125, 195, 232, 0.5); }
  .PageTreePreview .PageFolderIcon {
    margin-left: 10px;
    color: #00b9e4; }

.FragmentForm__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super; }

.FragmentForm__required-fields {
  color: #d1d1d1;
  font-size: 12px; }

.FormLabel__language-label {
  margin-right: 5px;
  background-color: #0088ce; }

.FormLabel__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super; }

.FormSectionTitle__required-fields {
  color: #d1d1d1;
  font-size: 12px; }

.MultiSelectRenderer__tag {
  margin-right: 3px;
  background: #0088ce; }

.MultiSelectRenderer__remove-tag-btn {
  outline: 0;
  color: #d1d1d1; }

.MultiSelectRenderer__remove-tag-btn:hover, .MultiSelectRenderer__remove-tag-btn:focus {
  outline: 0;
  color: #fafafa; }

.PageTreeSelector__expand-area {
  display: table-cell;
  outline: 0; }

.PageTreeSelector__select-area {
  display: table-cell;
  width: 100%;
  outline: 0; }

.PageTreeSelector__column-td--empty .PageExpandedIcon {
  opacity: 0;
  visibility: hidden; }

.PageTreeSelector__page-name,
.PageTreeSelector .PageExpandedIcon,
.PageTreeSelector .PageFolderIcon,
.PageTreeSelector .RowSpinner {
  margin-left: 10px; }

.PageTreeSelector .PageFolderIcon {
  color: #00b9e4; }

.PageForm .PageForm__bullet-option:before {
  display: inline-block;
  padding-right: 3px;
  color: #0088ce;
  font-family: FontAwesome;
  font-size: 15px;
  content: "\f10c";
  vertical-align: middle; }

.PageForm .PageForm__bullet-option:checked:before {
  display: inline-block;
  padding-right: 3px;
  color: #0088ce;
  font-family: FontAwesome;
  font-size: 15px;
  content: "\f192";
  vertical-align: middle; }
