.GroupListTable__table {
  margin: 2em 0 0 0;
}

.GroupListTable__th-lg {
  width: 45%;
}

.GroupListTable__th-md {
  width: 25%;
}

.GroupListTable__th-sm {
  width: 10%;
}

.GroupListTable__th-xs {
  width: 5%;
}
