
@import "../patternfly.scss";

.InternalPage {
  // sass-lint:disable class-name-format
  .breadcrumb {
    margin-bottom: 0;
    border-bottom: 1px solid $color-pf-black-300;
  }
  // sass-lint:enable class-name-format

  &__page-title {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-pf-black-300;
    font-weight: bold;
  }
}