@import "../../patternfly.scss";

.FiltersSelectRenderer {

  &__tag {
    margin-right: 3px;
    background: $color-pf-blue-400;
  }

  &__remove-tag-btn {
    outline: 0;
    color: $color-pf-black-300;
  }

  &__remove-tag-btn:hover,
  &__remove-tag-btn:focus {
    outline: 0;
    color: $color-pf-black-100;
  }

  &__settings {
    padding-top: 1rem;

    button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  &__control-label {
    margin-right: 10px;
  }

  &__filter-remove {
    border: 0;
    background: transparent;
    color: $color-mid-blue;
    box-shadow: none;

    &:hover {
      border: 0;
      background: transparent;
      color: $color-mid-blue;
      box-shadow: none;
    }

    &:focus {
      border: 0;
      background: transparent;
      color: $color-mid-blue;
      box-shadow: none;
    }
  }

  &__filter-remove-wrapper {
    margin-left: 10px;
  }

  &__add {
    width: 10rem;
  }

  &__content-table-selected {
    margin-top: 20px;
  }

}
