.FormLabel {

  &__language-label {
    margin-right: 5px;
    background-color: $color-pf-blue-400;
  }

  &__required-icon {
    margin-left: 3px;
    font-size: 8px;
    vertical-align: super;
  }
}
