// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.react-datepicker__header {
  border-bottom: 0 solid $color-pf-black-100;
  background-color: $color-pf-black-100;
  text-align: center;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: .9em;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.7rem;
  line-height: 2.7rem;
}

.react-datepicker {
  font-size: 1.4rem;
}

.react-datepicker-popper {
  z-index: 9;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  height: 30px;
  line-height: 30px;
}

.react-datepicker__navigation {
  top: 18px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  width: 130px;
  margin: 0 auto;
  background: $color-pf-black-200;
}

.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: $color-pf-black-900;
}

.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: $color-pf-black-900;
}

// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format
