.SearchForm {
  &__container {
    display: flex;
    border: 1px solid $color-content-07;
  }

  &__textbox {
    display: flex;
    flex: 1;
    border-right: 0;
    position: relative;
  }

  &__textbox--base {
    flex: 1;
    padding-inline: 5px 10px;
    border: 0;
    outline: none;
  }

  &__button {
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    box-shadow: none;
    background: none;
    border: none;

    &:hover,
    &:active,
    &:focus,
    &:active:hover {
      box-shadow: none;
      background: none;
      border: none;
      outline: none;
    }
  }

  &__button-close {
    position: absolute;
    top: calc((100% - 20px) / 2);
    right: 0%;

    &.hidden {
      visibility: hidden;
    }
  }
}
