.SearchForm {
  &__container {
    display: flex;
  }

  &__textbox {
    display: flex;
    flex: 1;
    border: 1px solid $color-ecr-list-icon;
    border-right: 0;
  }

  &__textbox--base {
    flex: 1;
    padding: 0 5px;
    border: 0;
    outline: none;
  }

  &__button-wrapper {
    border: solid 1px $color-ecr-list-icon;
  }

  &__button {
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    box-shadow: none;
  }

  &__button-close {
    padding-right: 12px;
    padding-left: 12px;
  }
}
