.ToggleButtonGroup {
  // sass-lint:disable class-name-format nesting-depth no-qualifying-elements force-element-nesting
  .btn-toolbar {
    .btn {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .btn-default.active {
      background-color: #fff;
      color: $color-primary-text;
    }

    .btn-default:hover{
      border: none;
      outline: none;
    }

    .btn-default:active{
      border: none;
      outline: none;
    }

    select {
      margin-left: 5px;
      color: $color-dark-grey;
    }
  }
  // sass-lint:enable class-name-format nesting-depth no-qualifying-elements force-element-nesting
}
