.CheckboxGroup {
  padding: 12px 28px;

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    color: $color-black;

    input {
      display: none;
    }

    input:checked + label:before {
      border-color: $color-light-blue;
      color: $color-light-blue;
      font-family: FontAwesome;
      font-size: 20px;
      line-height: 15px;
      text-indent: -2px;
      content: $fa-check-square;
    }

    label {
      cursor: pointer;

      &:before {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 20px;
        float: left;
        border: 2px solid $color-dark-grey;
        border-radius: 3px;
        content: " ";
      }
    }
  }
}
