.CheckboxGroup {
  padding: 12px 28px;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    color: #000000;

    input {
      display: none;
    }

    input:checked + label:before {
      font-family: FontAwesome;
      content: $fa-check-square;
      color: #39A5DC;
      border-color: #39A5DC;
      font-size: 20px;
      line-height: 15px;
      text-indent: -2px;
    }

    label {
      cursor: pointer;

      &:before {
        content: " ";
        border: 2px solid #4D5258;
        border-radius: 3px;
        width: 18px;
        height: 18px;
        display: block;
        float: left;
        margin-right: 20px;
      }
    }
  }
}
