.SidebarFilter {
  text-align: left;
}


.SidebarFilter__title {
  color: #4D5258;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  background-color: #DEDEDE;
  padding: 15px;
}
