.AssetPhotoCropper {
  &.modal-dialog { // sass-lint:disable-line class-name-format
    width: 1040px;
  }

  &__metadata {
    font-family: "Open Sans";
  }

  &__crop-preview {
    margin-right: .5rem;
    margin-bottom: .5rem;
    float: left;
    overflow: hidden;

    &> img {
      max-width: 100%;
    }

    &.preview-lg { // sass-lint:disable-line class-name-format
      width: 200px;
      max-width: 100%;
      height: 200px;
    }

    &.preview-md { // sass-lint:disable-line class-name-format
      width: 100px;
      max-width: 100%;
      height: 100px;
    }

    &.preview-sm { // sass-lint:disable-line class-name-format
      width: 70px;
      max-width: 100%;
      height: 70px;
    }

    &.preview-xs { // sass-lint:disable-line class-name-format
      width: 20px;
      max-width: 100%;
      height: 20px;
      margin-right: 0;
    }
  }

  &__rightinfo {
    display: flex;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .form-control[readonly] { // sass-lint:disable-line class-name-format
      background-color: $color-white;
      color: $color-ecr-list-icon-active;
    }
  }

  &__previews {
    width: 200px;
  }

  &__imginfo {
    width: 235px;
    padding-right: 0;
    padding-left: 0;

    // sass-lint:disable-block class-name-format nesting-depth
    .row {
      margin-bottom: .3rem;
      color: $color-rating-filter-star-empty;

      & .caption {
        margin-top: 0;
        color: $color-ecr-list-icon-active;
      }

      &> .lbl {
        color: $color-ecr-list-icon-active;
        text-transform: uppercase;
      }

      &> .inf {
        overflow-wrap: break-word;
      }
    }

    &.dim {
      margin-left: 25px;

      .row {
        margin-right: -10px;
        margin-bottom: 10px;
        margin-left: -10px;
      }

      [class|="col-xs"] {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    // sass-lint:enable-block class-name-format nesting-depth
  }

  &__input-prelabel {
    width: initial;
    min-width: 52px;
  }

  &__two-inputs {
    display: flex;

    &> div {
      margin-bottom: 0;
    }

    &> :first-child {
      margin-right: 4px;
    }

    &> :last-child {
      margin-left: 4px;
    }
  }

  &__tool-row {
    margin-top: 20px;
  }

  &__tool {
    margin-right: 1.19rem;
    padding-right: 1.19rem;
    border-right: 1px solid $color-rating-filter-star-empty;

    &:last-of-type {
      border-right: 0;
    }

    &.no-sep { // sass-lint:disable-line class-name-format
      padding-right: 0;
      border-right: 0;
    }

    &> span {
      display: block;
      color: $color-rating-filter-star-empty;
      text-align: center;
    }

    &> button.btn { // sass-lint:disable-line class-name-format force-element-nesting no-qualifying-elements
      padding: 6px 8px;
      border: 0;
      background: none;
      font-size: 18px;
      box-shadow: none;
    }
  }

  &__aspect-ratio-bar {
    margin-top: 15px;
  }
}