.AssetsListGridView {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 10px;

  @media screen and (max-width: 991px) {
    margin-left: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 12%;
    min-width: 12%;
    height: 13rem;
    margin: 5px;
    margin-bottom: -20px;
    border: 1px solid $color-thin-grey-border;
    box-shadow: 0 1px 1px rgba(51, 51, 51, .18);
    box-sizing: border-box;

    @media screen and (max-width: 991px) {
      width: 100%;
      height: 14rem;
      margin-bottom: 0;
      margin-left: 0
    }
  }

  &__name {
    display: inline-block;
    width: 80%;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media screen and (max-width: 991px) {
      width: 90%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &-wrapper {
      flex: 1;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }
}