.WidgetListRow {
  .WidgetListRow__td {
    height: 30px;
    line-height: 30px;
  }

  &__link,
  .WidgetIcon {
    vertical-align: middle;
  }

  &__menu-item-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 10px;

  a {
    display: flex;
    align-items: center;
    color: $color-text-secondary;

    &:hover {
      text-decoration: none;
    }
  }

   .danger > a {
      color: $color-error-primary;
    }
  }
}
