.CategoryTreeInput {
  &__search {
    width: 100%;
    border: 1px solid $color-ecr-list-icon;
  }

  &__treebody {
    min-height: 45px;
    max-height: 214px;
    padding: 5px;
    border: 1px solid $color-ecr-list-icon;
    border-top: 0;
    overflow: scroll;
  }
}

.CategorySearchInputWrapper {

  @media (min-width: 991px) {
    margin-bottom: 10px;
    padding-right: 10px;
  }


  > div > button {
    margin-left: -30px;
  }
}