@import "../patternfly.scss";

.PageTree {
  &__drag-handle {
    width: 25px;
    height: 25px;
    border: 0;
    visibility: hidden;
  }

  &__row:not(:first-child):hover {
    .PageTree__drag-handle {
      visibility: visible;
    }
  }

  &__page-name,
  .PageExpandedIcon,
  .PageFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  .PageFolderIcon {
    color: $color-pf-light-blue-400;
  }

  &__icons-label {
    outline: 0;
    cursor: pointer;
  }

  &__tree-column-td--empty {
    .PageExpandedIcon {
      opacity: 0;
      visibility: hidden;
    }
  }

  .PageTreeActionMenuButton,
  .PageTreeActionMenuButton:focus {
    height: 18px;
    margin: 0;
    padding: 0 10px;
    outline: 0;
  }
}


// Bootstrap overrides
// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.table-bordered > tbody > tr > td.PageTree__tree-column-td {
  padding: 0;
}
// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format
