@import "../../patternfly.scss";

.FiltersSelectRenderer {

  &__tag {
    margin-right: 3px;
    background: $color-pf-blue-400;
  }

  &__remove-tag-btn {
    outline: 0;
    color: $color-pf-black-300;
  }

  &__remove-tag-btn:hover,
  &__remove-tag-btn:focus {
    outline: 0;
    color: $color-pf-black-100;
  }

  &__settings {
    margin-top: 1rem;

    button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  &__control-label {
    margin-right: 10px;
  }

}