.FindTemplateModal {
  &__template-list {
    height: 372px;
    padding: 0;
    list-style: none;
    overflow-y: auto;
  }

  &__template-list-button {
    padding: 0;
    border: 0;
    background: transparent;
  }

  &__template-list-li {
    display: inline-block;
    position: relative;
    width: 133px;
    margin: 10px;

    &--selected {
      border: 1px solid #7dc3e8;
    }
  }

  &__dropdown-kebab {
    position: absolute;
    top: 0;
    right: -10px;
  }

  &__modal {
    width: 672px;
  }

  &__caption {
    margin-top: 10px;
  }

  &__search-input {
    width: 50%;
    margin: 22px;
  }
}
