.FindTemplateModal {
  &__template-list {
    height: 372px;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    height: fit-content;
    max-height: 450px;
  }

  &__template-list-button {
    padding: 10px;
    border: 1px solid #CCE0FF;
    border-radius: 4px;
    background-color: $color-background-primary;
  }

  &__template-list-li {
    display: inline-block;
    position: relative;
    width: 133px;
    margin: 10px;

    &--selected {
      border: 1px solid #7dc3e8;
    }
  }

  &__dropdown-kebab {
    position: absolute;
    top: 0;
    right: -10px;
  }

  &__modal {
    width: 672px;
      // background-color: purple;


    .modal-content {
      padding: 24px 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 8px;

      .modal-header {
        background: none;
        padding: 0;

        .modal-title {
          font-size: 18px;
          font-weight: 600;
        }
      }


      .modal-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
      }

      .modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin-top: 0;
      }
    }
  }

  &__caption {
    margin-top: 10px;
  }

  &__search-input {
    border-radius: $radius-s;
  }
}