@import "../../patternfly.scss";

.MultiSelectRenderer {

  &__tag {
    margin-right: 3px;
    background: $color-pf-blue-400;
  }

  &__remove-tag-btn {
    outline: 0;
    color: $color-pf-black-300;
  }

  &__remove-tag-btn:hover {
    color: $color-pf-black-100;
  }

  &__remove-tag-btn:focus {
    outline: $color-pf-blue auto 1px;
    background-color: $color-row-selected;
  }
}