.PageStatusIcon--draft {
  color: $color-pf-black-600;
}

.PageStatusIcon--published {
  color: $color-pf-light-green-500;
}

.PageStatusIcon--unpublished {
  color: $color-pf-red-100;
}

.PageStatusIcon--diff {
  color: $color-pf-gold-400;
}
