$_color-preview-row: rgba($color-pf-blue-200, .5);

.PageTreePreview {
  width: 100%;
  background: $_color-preview-row;

  .TreeNodeFolderIcon {
    margin-left: 10px;
    color: $color-pf-light-blue-400;
  }
}
