.PageTree {



  .PageTree__drag-handle {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent !important;
    color: $color-brand-primary !important;
    box-shadow: unset !important;

    &:active {
      background-color: transparent !important;
    }

    &:focus {
      background-color: transparent !important;
    }

    &:hover:active {
      background-color: transparent !important;
    }
  }

  .PageTree__no-drag {
    .PageTree__drag-handle {
      display: none;
    }
  }

  &__no-drag {
    button {
      cursor: default;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__drag-handle {
    width: 25px;
    height: 25px;
    border: 0;
    visibility: hidden;
  }

  &__row:not(:first-child):hover {
    .PageTree__drag-handle {
      visibility: visible;
    }
  }

  &__page-name,
  .TreeNodeExpandedIcon,
  .TreeNodeFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  &__icons-label {
    outline: 0;
    cursor: pointer;
  }

  &__tree-column-td--empty {
    .TreeNodeExpandedIcon {
      display: none;
    }
  }

  .PageTree__container {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .PageTreeActionMenuButton,
  .PageTreeActionMenuButton:focus {
    height: 18px;
    margin: 0;
    padding: 0 10px;
    outline: 0;
  }

  &__toggler {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;

    &--expand {
      margin-left: 4em;
    }
  }

.Button {
  font-weight: 600;
}

  .PageStatusIcon {
    width: 8px;
    height: 8px;
  }

  .PageTree__displayed-in-menu {
    line-height: 24px;
  }

  .header-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .table-bordered {
    border: $color-border-grey solid 1px;
  }



  .table-header {
    background-color: #fff;
    border-bottom: 1px solid $color-border-grey;

    td {
      border: 1px solid $color-border-grey;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }

    .columnResizer {
      border-bottom: 1px solid $color-border-grey;
    }

    th {
      padding: 16px;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-color: $color-border-grey;
    }
  }

  .table-row {
    border-bottom: 1px solid $color-border-grey;

    td {
      border: 0
    }

    .colForResize {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid $color-border-grey;
    }

    &:hover {
      .PageTree__page-name {
        color: $color-brand-primary !important
      }

      .TreeNodeFolderIcon {
        color: $color-brand-primary;
      }
    }
  }

  .table-cell {
    padding-inline: 16px !important;
    padding-block: 8px !important;
  }
}



// Bootstrap overrides
// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.table-bordered>tbody>tr>td.PageTree__tree-column-td {
  padding: 0;
  line-height: 28px;
}

// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format