.PageTree {

  .PageTree__drag-handle {
    height: 29px;
    padding: 0;
    width: 30px;
  }

  &__drag-handle {
    width: 25px;
    height: 25px;
    border: 0;
    visibility: hidden;
  }

  &__row:not(:first-child):hover {
    .PageTree__drag-handle {
      visibility: visible;
    }
  }

  &__page-name,
  .TreeNodeExpandedIcon,
  .TreeNodeFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  .TreeNodeFolderIcon {
    color: $color-pf-light-blue-400;
  }

  &__icons-label {
    outline: 0;
    cursor: pointer;
  }

  &__tree-column-td--empty {
    .TreeNodeExpandedIcon {
      opacity: 0;
      visibility: hidden;
    }
  }

  .PageTreeActionMenuButton,
  .PageTreeActionMenuButton:focus {
    height: 18px;
    margin: 0;
    padding: 0 10px;
    outline: 0;
  }

  &__toggler {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;

    &--expand {
      margin-left: 4em;
    }
  }

  .PageStatusIcon {
    line-height: 24px;
  }

  .PageTree__displayedInMenu {
    line-height: 24px;
  }
}


// Bootstrap overrides
// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.table-bordered > tbody > tr > td.PageTree__tree-column-td {
  padding: 0;
  line-height: 28px;
}
// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format
