.PageTreeCompact {
  width: 100%;

  &__page-name,
  .TreeNodeExpandedIcon,
  .TreeNodeFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  .TreeNodeFolderIcon {
    color: $color-pf-light-blue-400;
  }

  &__icons-label {
    outline: 0;
    cursor: pointer;
  }

  &__tree-column-td--empty {
    .TreeNodeExpandedIcon {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__actions-col,
  &__status-col {
    width: 40px;
  }

  .PageTreeActionMenuButton,
  .PageTreeActionMenuButton:focus {
    height: 18px;
    margin: 0;
    padding: 0 10px;
    outline: 0;
  }

  // Bootstrap overrides
  // sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
  .dropdown-kebab-pf.btn-group > .btn:first-child {
    padding: 0 10px;
  }
  // sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format

}

// Bootstrap overrides
// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.PageTreeCompact.table > tbody > tr > td {
  padding: 2px 0;
  border-top: 0;
}
// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format
