
.PageStatusIcon--unpublished {
  background-color: $color-unpublished;
}

.PageStatusIcon--published {
  background-color: $color-published-600;
}

.PageStatusIcon--draft {
  background-color: $color-draft;
}
