.DatabaseDumpTablePage {
  &__code {
    max-height: 600px;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: $color-dump-table-code;
    overflow: auto;
  }
}
