.DDTable__tr--dnd-hover-high {
  border-top: 2px dashed $color-pf-black-500;
}

.DDTable__tr--dnd-hover-low {
  border-bottom: 2px dashed $color-pf-black-500;
}

.DDTable__tr--dnd-hover-medium {
  background: $color-pf-black-400;
}

.DDTable{

  table{
    margin-bottom: unset !important;
    background-color: white;
  }
  
  padding: 16px;
  background-color: #F9FAFB;
  border: 1px solid $color-content-09;
  border-radius: 4px;
}
