.MfeMenuContainer__header-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: $color-background-primary;
  border: 1px solid $color-neutral-grey;
  z-index: 1030;

  .navbar-nav.navbar-right li > a {
    padding-block: 14px;
  }
}

.MfeMenuContainer__left-menu-container {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 215px;
  background-color: $color-background-primary;
  z-index: 1030;
  overflow-x: hidden;
  overflow-y: auto;

  &.tour-focus { // sass-lint:disable-line class-name-format
    z-index: 100001;
  }
}
