.NavigationBarConfigForm {

  &__btn-remove {
    margin-left: 5px;
    border: 0;
    background: transparent;
    color: $color-mid-blue;
    box-shadow: none;
  }

  &__btn-remove:hover {
    border: 0;
    background: transparent;
    color: $color-mid-blue;
    box-shadow: none;
  }

  &__btn-remove:focus {
    border: 0;
    background: transparent;
    color: $color-mid-blue;
    box-shadow: none;
  }
}