@import "../../patternfly.scss";

.PageTreeSelector {

  &__expand-area {
    display: table-cell;
    outline: 0;
  }

  &__select-area {
    display: table-cell;
    width: 100%;
    outline: 0;
  }

  &__column-td--empty {
    .PageExpandedIcon {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__page-name,
  .PageExpandedIcon,
  .PageFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  .PageFolderIcon {
    color: $color-pf-light-blue-400;
  }

}