.GroupDetailTabUsers {
  margin-top: 30px;

  &__table {
    margin: 2em 0 0 0;
  }

  &__th-lg {
    width: 45%;
  }

  &__th-md {
    width: 25%;
  }

  &__th-sm {
    width: 10%;
  }

  &__th-xs {
    width: 5%;
  }

  &__status-icon--active:before {
    color: $color-pf-light-green-500;
    font-family: FontAwesome;
    content: $fa-check;
  }

  &__status-icon--disabled:before {
    color: $color-pf-red-300;
    font-family: FontAwesome;
    content: $fa-times;
  }
}
