.ComponentListViewModeSwitcher {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 8px;

  &__btn {
    border: 0;
    &:hover,
    &:focus,
    &:active,
    &--selected {
      outline: none;
      color: $color-ecr-list-icon-active;
    }
  }
}
