.ComponentList {
  h1 {
    margin: 0;
    margin-bottom: 3px;
    font-weight: bold;
  }

  &__component {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  &__component:after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 4px;
    background-color: $color-ecr-component-border;
    content: " ";
  }

  &__install-actions {
    text-align: center;
  }

  .ComponentListGridView &__install-actions {
    margin-top: 20px;
  }

  &__component-body {
    padding-left: 4px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    @media (max-width: 991px) {
      max-width: 200px;
    }
  }

  &__image-placeholder {
    width: 100%;
    height: 100px;
  }


  &__date {
    display: block;
    margin-bottom: 8px;
    color: $color-ecr-component-date;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
  }

  &__version {
    display: block;
    margin-bottom: 8px;
    color: $color-ecr-component-dark-grey;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
  }

  &__status {
    display: block;
    border: 1px solid $color-ecr-component-installed-button-border;
    background-color: $color-ecr-component-installed-button;
    color: $color-white;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    box-sizing: border-box;
  }

  &__status-caution {
    background-color: $color-ecr-component-inprogress-button;
    color: $color-black;
  }

  &__status-danger {
    background-color: $color-ecr-component-failed-button;
  }

  &__uninstall {
    color: $color-ecr-component-dark-grey;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration-line: underline;
  }

}

.ComponentListListView {
  & .ComponentList__description {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 5px;
    border-top: 4px solid $color-ecr-component-border;
    color: $color-ecr-component-text-grey;
    font-size: 18px;
    line-height: 22px;
  }

  & .ComponentList__install-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}

.ComponentListGridView {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: normal;
  }
}
