//sass-lint:disable class-name-format nesting-depth force-element-nesting no-important
.ComponentListPage {
  height: 100%;
  scrollbar-gutter: stable;

  &>.container-fluid {
    height: 100%;
    padding: 0;

    &.container-cards-pf {
      margin-top: 0;
    }

    &>.container-fluid {
      padding: 0;
    }
  }

  .PageTitle {
    &__header {
      padding-inline: 20px;

      &::after {
        width: calc(100% + 10px);
        right: -10px;
      }
    }
  }

  &__body {
    padding: 0 20px 20px 20px;
  }

  &__container-body {
    padding: 20px 15px;

    .content-view-pf-pagination {
      border: 1px solid $color-content-09;
    }
  }
}