.HubRegistrySwitcher {
&__container {
  margin-bottom: 30px;
  padding: 20px;
  border: solid 1px $color-light-grey-border;
  background: $color-white;
}

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $color-ecr-list-icon-active;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    line-height: 30px;
  }

  &__description {
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
  }

  &__switcher-label {
    display: flex;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-align: right;
  }

  &__key-icon {
    margin-right: 12px;
    color: transparent;
    font-size: 14px;
    // sass-lint:disable no-vendor-prefixes
    -webkit-text-stroke: #363636;
    -webkit-text-stroke-width: thick;
    // sass-lint:enable
  }

  &__edit {
    margin-right: 12px;
  }

  &__trash {
    float: right;
  }

  &__action-label {
    display: inline-block;
    width: 180px;
    margin-left: 0;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &--new {
      padding-left: 34px;
      color: $color-mid-blue;
      font-family: "Inter";
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
    }
  }

  &__kebab-menu-item {
    padding-top: 4px;
    padding-bottom: 4px;

    a {
      display: flex !important; //sass-lint:disable-line no-important
    }

    &--new {
      padding-top: 8px;
      padding-bottom: 8px;
      background: $color-grey-background;
    }
  }

  &__switcher-dropdown {
    div {
      ul { //sass-lint:disable-line nesting-depth
        width: 235px;
        padding-bottom: 0;
      }
    }
  }

  &__switcher {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
}


.EditRegistryModal {
  width: 800px;

  .alert { // sass-lint:disable-line class-name-format
    padding-left: 11px;
    color: $color-dim-grey;

    .pficon { //sass-lint:disable-line nesting-depth class-name-format
      display: none;
    }
  }
}
