.CheckboxGroup {
  padding: 12px;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    row-gap: 12px;
  }

  li {
    height: max-content;

    input {
      display: none;
    }

    input:checked + label:before {
      border-color: $color-light-blue;
      color: $color-light-blue;
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 15px;
      text-indent: -1px;
      content: $fa-check-square;
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 12px;

      &:before {
        display: block;
        width: 14px;
        height: 14px;
        float: left;
        border: 1px solid $color-content-07;
        border-radius: 3px;
        content: " ";
      }

      span {
        width: max-content;
      }
    }
  }
}
