.SidebarFilter {
  text-align: left;

  &__title {
    padding: 15px;
    border: 1px solid $color-sidebar-filter-border-grey;
    background-color: $color-sidebar-filter-bg-grey;
    color: $color-dark-grey;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
}
