//sass-lint:disable class-name-format
.TabBarFilter {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;

  & > div {
    margin: 0 5px;
    line-height: 24px;
  }

  button,
  .btn-group {
    width: auto !important; //sass-lint:disable-line no-important
  }
}
