.InternalPage {
  margin-bottom: 20px;

  // sass-lint:disable class-name-format
  .breadcrumb {
    margin-bottom: 0;
    border-bottom: 1px solid $color-pf-black-300;
  }
  // sass-lint:enable class-name-format

  &__page-title {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-pf-black-300;
    font-weight: bold;
  }
}

.BrandMenu__navbar-brand.navbar-brand { // sass-lint:disable-line force-element-nesting class-name-format
  img {
    display: inline-block;
    height: 15px;
    margin: 2px auto;
    vertical-align: top;
  }
}

// sass-lint:disable force-element-nesting class-name-format nesting-depth
.BrandMenu__first-level-menu {
  &.nav.persistent-secondary {
    .LinkMenuItem.active {
      margin-bottom: 0;
    }
  }
}
// sass-lint:enable force-element-nesting class-name-format nesting-depth

.FirstLevelMenuItem {
  span .fa { // sass-lint:disable-line force-element-nesting class-name-format
    padding-right: 8px;
  }
}

.LinkMenuItem {
  span .fa { // sass-lint:disable-line force-element-nesting class-name-format
    padding-right: 8px;
  }
}

.HomePageLink {
  &__icon {
    padding-right: 4px;
  }

  &__link {
    color: $color-pf-white;
    text-decoration: none;
  }

  &__link:hover {
    color: $color-pf-white;
    text-decoration: none;
  }

  &__link:visited {
    color: $color-pf-white;
    text-decoration: none;
  }
}

.LanguageSelect {
  &__dropdown {
    padding: 4px 7px;
    border: solid $color-pf-black-900;
    border-width: 0 0 0 1px;
    background: $color-pf-black;
    font-size: 11px;
    color: $color-pf-black-300;
  }

  &__option {
    background: $color-pf-white;
    color: $color-pf-black-700;
  }
}
