.PageTitle {
  margin-bottom: 20px;
  font-family: Inter;
  position: relative;

  &__header {
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 60px);
      right: -21px;
      border-bottom: 1px solid $color-neutral-grey;
    }
  }

  .PageTitle__title {
    color: $color-text-secondary;
    font-size: 16px;
    font-weight: 500;
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .PageTitle__content {
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
  }

  .PageTitle__icon {
    cursor: pointer;
  }

  .PageTitle__configuration {
    margin-left: 4px;

    .fa { // sass-lint:disable-line class-name-format
      vertical-align: top;
    }
  }
}