.PageTitle {
  .PageTitle__header {
    margin-bottom: 20px;
    border-bottom: 1px solid $color-pf-black-200;
  }

  .PageTitle__title {
    font-weight: bold;
  }

  .PageTitle__icon {
    color: $color-pf-black-500;
    cursor: pointer;
  }

  .PageTitle__configuration {
    margin-left: 4px;

    .fa { // sass-lint:disable-line class-name-format
      vertical-align: top;
    }
  }
}
