.ProfileTypeStatusIcon {
  font-family: FontAwesome;
}

.ProfileTypeStatusIcon--ok:before {
  color: $color-pf-green;
  content: $fa-check;
}

.ProfileTypeStatusIcon--ko:before {
  // warning
  color: $color-pf-orange;
  content: $fa-exclamation;
}

.ProfileTypeStatusIcon--wip {
  content: $fa-spinner;
}
