.PageListSearchTable {
  .table-bordered {
    border: none;
    margin: 0;

    tr {
      border: 1px solid $color-border-grey;
    }

    th, td {
      border: none;
    }
  }

  .table-header {
    background-color: #fff;

    td {
      border-left: 0;
      border-right: 0;
    }

    .columnResizer {
      border-bottom: 1px solid $color-border-grey;
    }

    th {
      padding: 16px;
      border-left: 0;
      border-right: 0;
    }
  }

  .table-row {
    td {
      border-left: 0;
      border-right: 0;
      
    }

    .colForResize {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid $color-border-grey;
    }
  }

  .table-cell {
    font-size: 14px;
    padding: 16px;
  }
}
