.PageListSearchTable {
  &__table {
    margin: 2em 0 0 0;
  }

  &__th-lg {
    width: 45%;
  }

  &__th-md {
    width: 25%;
  }

  &__th-sm {
    width: 10%;
  }

  &__th-xs {
    width: 5%;
  }

  &__table &__row {
    &--selected,
    &:hover {
      background-color: $color-dragitem-bg;
    }
  }
}
