.WidgetForm {
  &__language-label {
    margin-right: 5px;
    background-color: $color-pf-blue-400;
  }

  &__default-ui {
    max-height: 166px;
    margin-bottom: 0;
    padding: 2px 6px;
    border: 1px solid $color-ecr-list-icon;
    background-color: $color-extra-light-grey-border;
    font-family: inherit;
    font-size: 12px;
  }

  &__required-icon {
    margin-left: 3px;
    font-size: 8px;
    vertical-align: super;
  }

  &__required-fields {
    color: $color-pf-black-300;
    font-size: 12px;
  }
}