// sass-lint:disable class-name-format
.WidgetForm {
  &__body {
    display: flex;
    height: 100%;
  }

  &__info {
    width: 350px;
    margin-left: auto;
    padding: 21px;
    border-left: solid 1px $color-grey-border;
    background: $color-white;

    & .form-group > .text-right {
      margin-bottom: 10px;
      float: none;
      text-align: left;
    }

    & .form-group > div {
      width: 100%;
    }
  }

  &__container {
    width: 100%;
    margin: 21px;
    border: solid 1px $color-grey-border;
    background: $color-white;

    & .tab-content {
      padding: 20px;
    }
  }

  &__tabs {
    & > ul {
      margin-top: 15px;
      padding: 0 10px;
    }

    & .ql-editor {
      height: 300px;
    }
  }

  &__language-label {
    margin-right: 5px;
    background-color: $color-pf-blue-400;
  }

  &__default-ui {
    max-height: 166px;
    margin-bottom: 0;
    padding: 2px 6px;
    border: 1px solid $color-ecr-list-icon;
    background-color: $color-extra-light-grey-border;
    font-family: inherit;
    font-size: 12px;
  }

  &__required-icon {
    margin-left: 3px;
    font-size: 8px;
    vertical-align: super;
  }

  &__required-fields {
    color: $color-pf-black-300;
    font-size: 12px;
  }
}
