// sass-lint:disable class-name-format no-important
.WidgetPage {
  min-height: 700px;
  margin-bottom: 0;

  &__header {
    padding-inline: 20px;

    &__btn-container > div {
      display: flex;
      width: fit-content;
    }
  }

  &__body {
    height: calc(100% - 132px);

    & .form-horizontal {
      height: 100%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  & .breadcrumb {
    padding: 0;
    border-bottom: 0;
  }

  & > .container-pf-nav-pf-vertical {
    height: 100%;
    margin-top: 60px;
    margin-left: 216px;
    padding: 0;
  }
}
