.UserStatus {
  &__icon {
    font-family: FontAwesome;
  }
}

.UserStatus--active {
  color: $color-pf-green;

  .UserStatus__icon:before {
    content: $fa-check;
  }
}

.UserStatus--disabled,
.UserStatus--inactive {
  color: $color-pf-red;

  .UserStatus__icon:before {
    content: $fa-ban;
  }
}

.UserStatus--passwordExpired, // sass-lint:disable-line class-name-format
.UserStatus--accountExpired { // sass-lint:disable-line class-name-format
  color: $color-pf-red;

  .UserStatus__icon:before {
    content: $fa-adjust;
  }
}
