.UserForm {

  &__content-edit {
    margin-bottom: 15px;
    padding: 10px 0;
    border: 1px solid $color-pf-black-300;
    background-color: $color-pf-black-150;
  }
}

.UserSearchForm {
  background-color: white;
}
