.CMSShell {
  margin-bottom: 20px;

  // sass-lint:disable class-name-format force-element-nesting
  .breadcrumb {
    margin-bottom: 0;
    padding: 10px 15px 11px 0;
    border-bottom: 1px solid $color-pf-black-300;
  }

  &__fixed-heading .breadcrumb.editcontent {
    border-bottom: 0;
  }

  // sass-lint:enable class-name-format force-element-nesting

  &__page-title {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-pf-black-300;
    font-weight: bold;
  }
}

// sass-lint:disable force-element-nesting class-name-format nesting-depth
.container-pf-nav-pf-vertical {
  .CMSShell__fixed-heading {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 7px;
    background-color: $color-white;
    z-index: 1029;

    & + div {
      margin-top: 95px;
    }
  }
}
// sass-lint:enable force-element-nesting class-name-format nesting-depth

.BrandMenu__navbar-brand.navbar-brand { // sass-lint:disable-line force-element-nesting class-name-format
  img {
    display: inline-block;
    height: 15px;
    margin: 2px auto;
    vertical-align: top;
  }
}

// sass-lint:disable class-name-format force-element-nesting
.BrandMenu__first-level-menu {
  &.nav.persistent-secondary { // sass-lint:disable-line force-element-nesting class-name-format
    .LinkMenuItem.active { // sass-lint:disable-line force-element-nesting class-name-format
      margin-bottom: 0;
    }
  }
}
// sass-lint:enable class-name-format force-element-nesting

.FirstLevelMenuItem {
  span .fa { // sass-lint:disable-line force-element-nesting class-name-format
    padding-right: 8px;
  }
}

.LinkMenuItem {
  span .fa { // sass-lint:disable-line force-element-nesting class-name-format
    padding-right: 8px;
  }
}

.HomePageLink {
  &__icon {
    padding-right: 4px;
  }

  &__link {
    color: $color-pf-white;
    text-decoration: none;
  }

  &__link:hover {
    color: $color-pf-white;
    text-decoration: none;
  }

  &__link:visited {
    color: $color-pf-white;
    text-decoration: none;
  }
}

.FormGroupSeparator {
  border-bottom: 1px solid $color-black;
  color: $dark-color-separator;
  font-size: 12px;
}
