@import "../patternfly.scss";


.DetailFragmentPage {
  margin-top: 15px;

  &__div-search {
    border-top: 0;
  }

  &__table {
    margin-bottom: 0;
  }

  &__th-actions {
    width: 5%;
    text-align: center;
    text-transform: capitalize;
  }

}
