.FragmentForm__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super;
}

.FragmentForm__required-fields {
  color: $color-pf-black-300;
  font-size: 12px;
}

.FragmentForm {
  &__save--btn {
    margin-left: 5px;
  }
}