.FragmentForm__required-icon {
  margin-left: 3px;
  font-size: 8px;
  vertical-align: super;
}

.FragmentForm__required-fields {
  color: $color-pf-black-300;
  font-size: 12px;
}

.FragmentForm {
  &__save--btn {
    margin-left: 5px;
  }

  &__dropdown {
    margin-left: 5px;
    float: right;
  }

  &__saveDropdown { //sass-lint:disable-line class-name-format
    width: 102px;
    margin-left: 5px;
    text-align: left;

    & > span { //sass-lint:disable-line class-name-format
      margin-top: 6px;
      margin-right: -3px;
      float: right;
    }
  }
}
