// sass-lint:disable class-name-format nesting-depth no-extends
.DashboardPage {
  .card-pf-body {
    display: flex;
    align-items: baseline;
    gap: 24px;
    
    a {
      color: $color-text-tertiary;
    }

    ::before {
      padding-right: 5px;
    }

    .card-pf-aggregate-status-container {
      display: flex;
      gap: 6px;
    }
  }

  .card-pf {
    @extend .div__border--solid-grey;
    border-radius: $spacing-4;

    .fa {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  .card-pf-aggregate-status-count {
    font-size: 14px;
  }
}