// sass-lint:disable class-name-format nesting-depth
.PagesList {
  position: relative;
  height: auto;
  margin: 0 -10px;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
  border: $color-pf-black-300 solid 1px;

  @media (max-width: 1499px) {
    height: auto;
  }

  @media (max-width: 992px) {
    margin-top: 25px;
  }

  .PagesList__wrapper {
    @media (max-width: 769px) {
      width: 100%;
      overflow-x: auto;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .btn {
    &.pull-right {
      margin-bottom: 10px;
    }
  }

  .PagesListTable__table {
    margin: 2em 0 0 0;
  }

  &__bottom-link { // sass-lint:disable-line bem-depth
    padding: 5px;
  }
}
