.ViewPermissionNoticeOverlay {
  &__permissionNotice { // sass-lint:disable-line class-name-format
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__noPermission { // sass-lint:disable-line class-name-format
    .ViewPermissionNoticeOverlay__content { // sass-lint:disable-line nesting-depth
      filter: blur(.5rem);
    }

    .ViewPermissionNoticeOverlay__permissionNotice { // sass-lint:disable-line nesting-depth, class-name-format
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      text-align: center;
    }
  }

  .content-view-pf-pagination{
    background-color: white;
    border: 1px solid $color-border-grey;
    border-top:unset;

    .form-group{
      align-items: center;
      font-size: 14px;

      .form-control{
        font-size: 14px;
      }
   

      .dropdown-toggle{
        background-color: transparent;
      }
    } 
  
  }   
  


  .pagination{
    li > a{
      border: none;
      outline: none;
      vertical-align: middle;
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
    }

    li > a:hover{
      background-color: $color-neutral-grey;
    }

    li > a:focus{
      background-color: none;
    }

  
  }
  
}
