.ContentPages {

  &__pagetree-actions {
    display: flex;
    padding: 16px 20px;
    column-gap: 20px;
  }

  &__pagetree-searchbar {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid $color-content-07;
    border-radius: $radius-xxs;

    input {
      border: none;
      color: $color-text-tertiary;
      font-size: 14px;
      height: 30px;
      box-shadow: none;

      &::placeholder {
          font-style: normal;
      }
    }

    &:has(input:focus) {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6);
      
      input:focus {
        box-shadow: unset;
      }
    }
  }

  // sass-lint:disable no-important class-name-format force-element-nesting
  &__pagetree-searchbtn.btn {
    color: $color-text-tertiary;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background: none;
    height: 100%;
    border-radius: $radius-xxs;
  }
  // sass-lint:enable no-important class-name-format force-element-nesting

  &__pagetree-expander {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid $color-neutral-grey;
    border-bottom: 1px solid $color-neutral-grey;
    color: $color-primary-text;
    font-size: 14px;
  }

  &__toggler {
    display: inline-block;
    margin-right: 10px;
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.66666667;

    span {
      margin-right: 5px;
    }
  }

  &__pagetree-addbtn {
    background-color: $color-light-blue-2;

    // sass-lint:disable nesting-depth force-element-nesting
    &:hover {
      background-color: $color-light-blue-hover;
    }

    &:focus,
    &:focus:hover {
      outline: none;
      background-color: $color-light-blue-active;
    }
    // sass-lint:enable nesting-depth force-element-nesting
  }

  &__pagetree--loadable,
  &__search-table--loadable {
    .PageTreeCompact {
      // sass-lint:disable nesting-depth
      &__row,
      &__icons-label,
      &__page-name {
        cursor: pointer;
      }

   
      // sass-lint:enable nesting-depth
    }
  }

  // sass-lint:disable nesting-depth no-qualifying-elements force-element-nesting class-name-format no-important
  &__search-table {
    & .table {
      margin-top: 0;
    }

    & thead,
    & tr {
      background: none;
    }

    & tr {
      &.selected,
      &:hover {
        background-color: $color-dark-blue;
      }
    }

    & th,
    & td {
      border: none;
    }

    & .dropdown-kebab-pf .btn {
      color: $color-primary-text !important;
    }

    & .table-view-pf-pagination {
      background: none;
      color: $color-primary-text;
    }
  }
  // sass-lint:enable nesting-depth no-qualifying-elements force-element-nesting class-name-format no-important
}
