.ContentWidgetList {
  .ContentWidgetElement {
    border-right: 1px solid $color-pf-white;
    border-left: 1px solid $color-pf-white;
    background-color: $color-pf-black-200;
    cursor: pointer;
  }
}

.ContentWidgetElement {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  border: 0;
  background-color: $color-dragitem-bg;

  // sass-lint:disable class-name-format nesting-depth
  &.list-group-item:last-of-type {
    margin-bottom: 20px;

    &:nth-child(even) + :after {
      display: none;
    }
  }
  // sass-lint:enable class-name-format nesting-depth


  &__widget-list {
    margin-bottom: 0;
    border-top: 0;
  }

  &__widget-spacer {
    display: block;
    width: 100%;
  }

  &__widget-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px 0 16px 18px;
    background: $color-widget-title-bg-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
  }

  // sass-lint:disable class-name-format force-element-nesting
  &__main.list-view-pf-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list-view-pf-left {
      display: block;
      padding-right: 0;
      color: $color-dark-white;
    }

    .list-view-pf-description {
      display: block;
      margin-top: 10px;
    }

    a {
      color: $color-dark-white;
      font-size: 14px;
    }
  }
  // sass-lint:enable class-name-format force-element-nesting

  &__description {
    margin: 0;
    text-align: center;
  }
}

.ContentWidgetList--list {
  .ContentWidgetElement {
    padding: 0 15px;
  }

  .ContentWidgetElement__icon {
    line-height: 9px;
  }
}

.ContentWidgetList--card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-right: 0;
  border-left: 0;

  .ContentWidgetElement {
    display: flex;
    flex-basis: calc(50% - 10px);
    margin-top: 5px;
    padding: 0 15px;
  }

  .ContentWidgetElement__icon {
    padding: 0;
  }
}
