.ContentPages {

  &__pagetree-actions {
    display: flex;
    column-gap: 20px;
    padding: 16px 20px;
  }

  &__pagetree-searchbar {
    display: flex;
    width: 100%;
  }

  // sass-lint:disable no-important class-name-format force-element-nesting
  &__pagetree-searchbtn.btn {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid $color-border-gray !important;
    border-left: 0 !important;
  }
  // sass-lint:enable no-important class-name-format force-element-nesting

  &__pagetree-expander {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: space-between;
    background: $color-widget-title-bg-color;
    color: $color-black;
    font-size: 14px;
  }

  &__toggler {
    display: inline-block;
    margin-right: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 1.66666667;

    span {
      margin-right: 5px;
    }
  }

}
