.ContentPages {

  &__add-button {

    width: 100%;
    padding: 10px 0 10px 5px;
    border: 0;
    font-size: 17px;
    text-transform: capitalize;
  }

  &__icon-add-button {
    margin-right: 3px;
  }

  &__pagetree-expander {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: space-between;
    background: $color-widget-title-bg-color;
    color: $color-black;
    font-size: 14px;
  }

  &__toggler {
    display: inline-block;
    margin-right: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 1.66666667;

    span {
      margin-right: 5px;
    }
  }

}
