.ContentPages {

  &__pagetree-actions {
    display: flex;
    padding: 16px 20px;
    column-gap: 20px;
  }

  &__pagetree-searchbar {
    display: flex;
    width: 100%;
  }

  // sass-lint:disable no-important class-name-format force-element-nesting
  &__pagetree-searchbtn.btn {
    border: 1px solid $color-border-gray !important;
    border-left: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }
  // sass-lint:enable no-important class-name-format force-element-nesting

  &__pagetree-expander {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    color: $color-white;
    font-size: 14px;
  }

  &__toggler {
    display: inline-block;
    margin-right: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 1.66666667;

    span {
      margin-right: 5px;
    }
  }

  &__pagetree-addbtn {
    background-color: $color-light-blue-2;
    color: $color-white;

    // sass-lint:disable nesting-depth force-element-nesting
    &:hover {
      background-color: $color-light-blue-hover;
      color: $color-white;
    }

    &:focus,
    &:focus:hover {
      outline: none;
      background-color: $color-light-blue-active;
      color: $color-white;
    }
    // sass-lint:enable nesting-depth force-element-nesting
  }

  &__pagetree--loadable,
  &__search-table--loadable {
    tr { // sass-lint:disable-line no-qualifying-elements
      cursor: pointer;
    }
  }

  // sass-lint:disable nesting-depth no-qualifying-elements force-element-nesting class-name-format no-important
  &__search-table {
    & .table {
      margin-top: 0;
      border: 1px solid $color-black;
      color: $color-white;
    }

    & thead,
    & tr {
      background: none;
    }

    & tr {
      &.selected,
      &:hover {
        background-color: $color-dragitem-bg;
      }
    }

    & th,
    & td {
      border: 1px solid $color-black !important;
    }

    & .dropdown-kebab-pf .btn {
      color: $color-white !important;
    }

    & .table-view-pf-pagination {
      background: none;
      color: $color-white;
    }
  }
  // sass-lint:enable nesting-depth no-qualifying-elements force-element-nesting class-name-format no-important
}
