.PageConfigPage {
  &__main {
    height: calc(100vh - 74px);
    max-height: calc(100vh - 74px);
    overflow-y: auto;
  }

  &__tabs {
    margin-top: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #000;
    padding-bottom: 10px;
  }

  &__toolbar-row {
    margin-bottom: 5px;
  }

  &__btn-group--trans {
    padding-bottom: 5px;

    .pull-right .btn {  // sass-lint:disable-line force-element-nesting class-name-format
      margin-left: 12px;
    }
  }

  &__btn-icon--svg {
    padding-right: 8px;
  }

  &__btn-icon--svg-right {
    padding-left: 8px;
  }

  &__bottom-options {
    position: fixed;
    right: 67px;
    bottom: 5px;
    left: 5px;
    z-index: 11;

    .pull-right .btn:not(.dropdown-toggle) { // sass-lint:disable-line force-element-nesting class-name-format
      margin-left: 20px;
    }
  }

  &__bottom-options--tbar {
    margin: 0 20px;
    padding: 8px 14px;
    background-color: $color-pf-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  .PageStatusIcon {
    margin-right: 10px;
  }

  &__default-applied-label {
    margin-left: 5px;
    color: $color-pf-black-400;
  }

  &__default-applied-icon {
    margin-left: 5px;
    color: $color-pf-green-400;
    font-size: 20px;
  }

  &__on-the-fly-label {
    margin-right: 5px;
  }

  &__publishing {
    .dropdown-menu { // sass-lint:disable-line class-name-format
      top: -60px;
    }
  }


  &__info-panel {
    border: 0;
  }

  &__side-widget {
    // overriding bootstrap column padding
    // sass-lint:disable no-important
    padding: 0!important;
    // sass-lint:enable no-important
    z-index: 12;
  }

  &__side-widget--sticky {
    position: fixed;
    top: 0;
    right: 0;
  }

  &__panel-body {
    position: relative;
  }

  &__block-ui {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.scroll-overlay .PageConfigPage__bottom-options { // sass-lint:disable-line force-element-nesting class-name-format
  margin-right: calc(-1 * (100vw - 100%));
}
