.WidgetGroupingListItem {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 3px;
  border: 0;
  background-color: $color-dragitem-bg;

  &__wrapper {
    display: flex;
    align-items: center;
    min-width: 60px;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: $color-dark-white;

    & > img  {
      color: $color-dark-white;
      filter: invert(73%) sepia(38%) saturate(11%) hue-rotate(39deg) brightness(103%) contrast(102%);
    }
  }

  &__description {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }

  a {
    color: $color-dark-white;
    font-size: 14px;
  }
}
