@import "../../patternfly.scss";

.WidgetGroupings {
  background-color: $color-sidebar-dark-bg;

  &__right-menu-title {
    padding: 15px 0 15px 18px;
    font-size: 16px;
    text-transform: uppercase;
    }

  &__drawer-pf-icons-right-menu {
    margin-right: 18px;
  }

  &__view-mode-icon {
    padding-right: 3px;
  }

  &__input-pf-right-menu {
    width: 94%;
    font-size: 14px;
  }

  &__pointer {
    cursor: pointer;
  }

}
