// sass-lint:disable class-name-format no-important
.WidgetConfigPage {
  min-height: 100%;
  margin-bottom: 0;

  &__header {
    &__btn-container {
      display: flex;
    }
  }

  &__body {
    min-height: calc(100% - 132px);

    & .form-horizontal {
      min-height: 100%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  & .breadcrumb {
    padding: 0;
    border-bottom: 0;
  }

  & > .container-pf-nav-pf-vertical {
    height: 100%;
    margin-left: 216px;
    padding: 0;
  }

  & .PageTitle__header {
    border: 0;
  }

  & .PageTitle__header {
    margin-bottom: 0;
  }

  & .PageTitle__title {
    padding-inline: 20px;

    & .pull-right {
      margin-left: 22px;
      float: none !important;
    }
  }

  & .panel-heading {
    background-color: $color-white;
  }
}
