.ReactCollapse--collapse {
  transition: height 350ms;
}

.ReactCollapse--content {
  // sass-lint:disable class-name-format
  .form-group {
    // sass-lint:disable zero-unit
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
}

.ContentsQueryForm {
  // sass-lint:disable class-name-format
  &__inclusiveOr {
    margin-top: 3rem;

    // sass-lint:disable nesting-depth
    &--active {
      // sass-lint:disable no-important
      border-color: $color-dark-grey !important;
      background-color: $color-dark-grey !important;
      color: $color-white !important;
    }
  }

  &__formGroup {
    padding-top: 2.5rem;
  }
}